/* Layout */
.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.auth_surface_ground_border {
    border: $borderWidth-5px solid $auth;
    border-radius: $borderRadius-025rem;
}

.auth_surface_ground {
    background-color: $auth;
}

/* Font */
.font-25 {
    font-size: 25px;

}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-15 {
    font-size: 15px;
}

/* Radius */
.radius-28 {
    border-radius: 28px;
}

/* Custom */
.custom_inputText {
    .p-inputtext {
        font-size: $fontSize-15px;
    }
}

.custom_radiusBtn {
    width: $width-15rem;
    border-radius: $borderRadius-28px;
}