.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

/* font */
.font-25{
    font-size: 25px;

}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}

.font-15{
    font-size: 15px;
}