/* Layout */
.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4.5rem .5rem 0rem 3.7rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: column;
}

.auth_surface_ground_border {
    border: 5px solid var(--primary-color);
    border-radius: 0.25rem;
}

.auth_surface_ground {
    background-color:var(--surface-ground);
}

/* Font */
.font-18 {
    font-size: 18px;
}

/* Custom */
.custom_inputText {
    .p-inputtext {
        font-size: 15px;
    }
}

.dropdown_text {
    .p-inputtext {
        font-size: 22px;
    }
}


.custom_radiusBtn {
    width: 15rem;
    border-radius: 28px;
}

.custom_checkbox {
    .p-checkbox .p-checkbox-box {
        width: 40px;
    }
}

.page_header {
    font-size: 21px;
    font-weight: 500;
}

.page_sub_header {
    font-size: 18px;
}