/* Layout */
.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.auth_surface_ground_border {
    border: $borderWidth-5px solid $auth;
    border-radius: $borderRadius-025rem;
}

.auth_surface_ground {
    background-color: $auth;
}

/* Font */
.font-90 {
    font-size: $fontSize-90px;

}
.font-70 {
    font-size: $fontSize-70px;

}
.font-48 {
    font-size: $fontSize-48px;

}
.font-40 {
    font-size: $fontSize-40px;

}
.font-32 {
    font-size: $fontSize-32px;

}
.font-30 {
    font-size: $fontSize-30px;

}
.font-28 {
    font-size: $fontSize-28px;

}
.font-27 {
    font-size: $fontSize-27px;

}
.font-26 {
    font-size: $fontSize-26px;

}

.font-25 {
    font-size: $fontSize-25px;

}

.font-18 {
    font-size: $fontSize-18px;
}

.font-16 {
    font-size: $fontSize-16px;
}

.font-15 {
    font-size: $fontSize-15px;
}
.font-14 {
    font-size: $fontSize-14px;

}
/* Radius */
.radius-28 {
    border-radius: 28px;
}

/* Custom */
.custom_inputText {
    .p-inputtext {
        font-size: $fontSize-15px;
    }
}

.dropdown_text{
    .p-inputtext{
        font-size: $fontSize-22px ;
    }
}

.custom-switch {
    // Customize the background color for the "on" toggle
    .p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider {
        background: #25ba9a; // Change this to your desired color
    }
}

.custom_radiusBtn {
    width: $width-15rem;
    border-radius: $borderRadius-28px;
}



.custom_checkbox{
    .p-checkbox .p-checkbox-box{
        width:40px;
    }
}

.page_header{
    font-size: $fontSize-21px;
    font-weight: 500;
}

.page_sub_header{
    font-size: $fontSize-18px;
}