.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--surface-border);
    height: 4rem;
}
