.layout-sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 999;
    user-select: none;
    top: 4rem;
    transition: transform $transitionDuration, left $transitionDuration;
    background: #2b3d51;
    border-right: 1px solid darkgray;
}

.layout_sidebar_scroll {
    height: calc(100vh - 4rem);
    overflow-y: auto;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;

    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            margin: .75rem 0;
            padding-left: 1rem;
        }

        >a {
            display: none;
        }
    }

    li.active-menuitem {
        >a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }

            background-color: rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid #2b3d51;
        }

        >ul {
            max-height: auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        padding-left: 0rem;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: white;
            cursor: pointer;
            padding: .75rem 1rem;
            transition: background-color $transitionDuration, box-shadow $transitionDuration;

            .layout-menuitem-icon {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-right: 1rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }

            &.rotated-icon {
                .layout-menuitem-icon {
                    transform: rotate(90deg);
                }
            }

            &.active-route {
                font-weight: 500;
                background-color: rgba(255, 255, 255, 0.2);
                color: white;
                border: 0;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: white;
            }

            // &:focus {
            //     @include focused-inset();
            // }
        }

        ul {
            overflow: hidden;
            max-height: 0;
            // border-radius: $borderRadius-12px;

            li {
                a {
                    // margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-submenu-enter-active {
    max-height: 1000px !important;
    transition: max-height 1s ease-in-out;
}

.layout-submenu-enter-done {
    max-height: 1000px !important;
}

.layout-submenu-exit {
    max-height: 1000px !important;
}

.layout-submenu-exit-active {
    overflow: hidden;
    max-height: 0 !important;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}