@media screen and (min-width: 1960px) {

    .layout-main,
    .landing-wrapper {
        // width: 1504px;
        // margin-left: auto !important;
        // margin-right: auto !important;
    }
}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
                padding-left: .5rem;
                padding-bottom: 0;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .layout_sidebar_scroll {
                height: 100vh;
                margin-top: 0;
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 250px;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    // transform: translateX(-100%);
                    left: 0;
                    width: 60px
                }

                .layout_sidebar_scroll {
                    height: 100vh;
                    margin-top: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                    margin-left: 60px;
                    padding-left: .5rem;
                }

                .layout-menu {
                    .layout-menuitem-icon {
                        font-size: 30px;
                    }

                    .layout-menuitem-text {
                        display: none;
                    }

                    .layout-submenu-toggler {
                        display: none;
                    }
                }

                .layout-topbar {
                    .logo-details {
                        display: none;
                    }

                    .header-details {
                        width: 100%;
                        padding: 0rem;
                        padding-right: .5rem;
                    }

                    .hamburger {
                        height: 100%;
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid darkgray;
                        padding-left: .3rem;
                    }
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: .5rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .layout_sidebar_scroll {
            height: 100vh;
            margin-top: 0;
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
                animation: fadein $transitionDuration;
            }
        }

        .layout-topbar {
            .logo-details {
                display: none;
            }
        }

        .layout-topbar {
            .header-details {
                width: 100%;
            }
        }
    }
}

@media (max-width: 575px){
    .gap-2 {
        gap: 2rem !important;
    }
}

@media screen and (min-width: 494px) and (max-width: 575px) {
    .mobile-input.p-float-label {
        margin-left: 106px !important;
    }
}