.layout-mask-loader {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: var(--maskbg);

    .progress-spinner {
        height: 60px;
        width: 60px;
    }
}