.custom-checkbox{
    .p-checkbox .p-checkbox-box.p-highlight{
        background: var(--primary-color);
        border:var(--primary-color);
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
        background: var(--primary-color);
        border:var(--primary-color);
    }
}