.custom-panel table td {
    padding: 0rem !important;
}
.custom-panel .p-timepicker{
    padding: 0rem !important;
}
.custom-panel .date-picker-history {
    top: 200px !important;
}
.custom-panel table td>span{
    height: 2rem !important;
    width: 2rem !important;
}
.custom-panel .p-datepicker-header{
    padding: 0rem !important;
}
.custom-panel table th{
    padding: 0rem !important;
}
.custom-panel .p-timepicker span{
    font-size: 1rem !important;
}
.custom-panel .p-timepicker button{
    height: 1.5rem !important;
}