.custom-modal.p-dialog .p-dialog-header {
    border-bottom: $commonBorder;
    border-color: #e9ecef;
    padding: $commonPadding;
    border-top-left-radius: $commonRadius;
    border-top-right-radius: $commonRadius;
}

.custom-modal.p-dialog .p-dialog-footer {
    border-top: $commonBorder ;
    border-color: #e9ecef;
    padding: 1rem $commonPadding;
    border-bottom-left-radius: $commonRadius;
    border-bottom-right-radius: $commonRadius;
}

.custom-modal.p-dialog .p-dialog-content {
    padding: $commonPadding;
}

.custom-modal {
    border-radius: $commonRadius;
}

.modal-content {
    font-size: $commonFontSize;
}

/* Block scroll when the dialog is open */
.dialog-open {
    overflow: hidden;
}

.modal-import{
    .p-dialog-content{
        display: flex;
    }
}

@media screen and (min-width: 576px){
    .importModal_width{
        width:40rem ;
    }
}