.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffffff;
    border-color: #ced4da;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #64b0f2;
}

.custom-select {
    .p-dropdown {
        height: 40px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
    }

    .p-dropdown-trigger {
        height: 40px;
    }

    .p-dropdown-label {
        font-weight: 500;
    }
}