.custom_input {
    .p-inputtext {
        height: $commonHeight;
        font-weight: $commonFontWeight;
        font-size: $commonFontSize;
        border-radius: $commonRadius;
    }
    .p-disabled, .p-component:disabled {
        opacity: 1;
        background-color: #f8f9fa;
    }
    .p-inputgroup-addon {
        height: $commonHeight;
        font-weight: $commonFontWeight;
        font-size: $commonFontSize;
    }
}
.custom_input_password {
    .p-inputtext {
        height: $commonHeight;
        font-weight: $commonFontWeight;
        font-size: $commonFontSize;
        border-radius: $commonRadius;
        width: 100%;
    }
    .p-disabled, .p-component:disabled {
        opacity: 1;
        background-color: #f8f9fa;
    }
    .p-inputgroup-addon {
        height: $commonHeight;
        font-weight: $commonFontWeight;
        font-size: $commonFontSize;
    }
}
.password-form-field{
    .p-password{
        width: 100%;
    }
}