.ocr-modal .footer-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ocr-modal .footer-view1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:335px) {
    .ocr-modal .footer-view {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ocr-modal.p-dialog .p-dialog-content{
    padding: none !important;
}

:root {
    --width-ocr-master: 500px; /* Define main text color */
}

// Define the container for the camera feed
.webcam-container {
    position: relative;
    background: white;

    // Style the video element as the camera feed
    .webcam-element {
        width: var(--width-ocr-master);
        height: calc(var(--width-ocr-master) * 0.75);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: black;
    }

    // Create an overlay on top of the video
    .overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        width: var(--width-ocr-master);
        height: calc(var(--width-ocr-master) * 0.75);
        border-top: 2rem solid rgba(0, 0, 0, 0.5);
        border-right: 2rem solid rgba(0, 0, 0, 0.5);
        border-left: 2rem solid rgba(0, 0, 0, 0.5);
        border-bottom: 3.5rem solid rgba(0, 0, 0, 0.5);
        pointer-events: none;
        overflow: hidden;
        border-radius: 8px;
    }

    // Create an overlay on top of the video
    .overlay-text {
        position: absolute;
        bottom: 0;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;

    }
    /* Default font size */
    .overlay-text {
        font-size: 16px; /* Default font size */
    }

    /* Media query for smaller devices */
    @media only screen and (max-width: 900px) {
        .webcam-element {
            width: calc(var(--width-ocr-master) - 50px);
            height: calc((var(--width-ocr-master) - 50px) * 0.75);
        }

        .overlay {
            width: calc(var(--width-ocr-master) - 50px);
            height: calc((var(--width-ocr-master) - 50px) * 0.75);
        }

        .overlay-text {
        font-size: 14px; /* Decreased font size for smaller devices */
        }
    }

    /* Media query for smaller devices */
    @media only screen and (max-width: 700px) {
        .webcam-element {
            width: calc(var(--width-ocr-master) - 100px);
            height: calc((var(--width-ocr-master) - 100px) * 0.75);
        }

        .overlay {
            width: calc(var(--width-ocr-master) - 100px);
            height: calc((var(--width-ocr-master) - 100px) * 0.75);
        }

        .overlay-text {
        font-size: 12px; /* Decreased font size for smaller devices */
        }
    }
    
    /* Media query for smaller devices */
    @media only screen and (max-width: 500px) {
        
        .webcam-element {
            width: calc(var(--width-ocr-master) - 150px);
            height: calc((var(--width-ocr-master) - 150px) * 0.75);
        }

        .overlay {
            width: calc(var(--width-ocr-master) - 150px);
            height: calc((var(--width-ocr-master) - 150px) * 0.75);
        }

        .overlay-text {
        font-size: 10px; /* Decreased font size for smaller devices */
        }
    }
    
    /* Media query for even smaller devices */
    @media only screen and (max-width: 300px) {

        .webcam-element {
            width: calc(var(--width-ocr-master) - 200px);
            height: calc((var(--width-ocr-master) - 200px) * 0.75);
        }

        .overlay {
            width: calc(var(--width-ocr-master) - 200px);
            height: calc((var(--width-ocr-master) - 200px) * 0.75);
        }

        .overlay-text {
        font-size: 8px; /* Further decreased font size for very small devices */
        }
    }
}