.dropdown_select_stock {
    width:500px;
}
.input_stock{
    width:500px;
}
@media (max-width:531px) and (min-width:432px){
    .dropdown_select_stock {
        width:400px;
    }
    .input_stock{
        width:400px;
    }
}
@media screen and (max-width:431px){
    .dropdown_select_stock {
        width:250px;
    }
    .input_stock{
        width:250px;
    }
}

@media (min-width:485px){
.stock_modal{
    display: flex;
}
}
@media (max-width:484px){
    .stock_modal{
        text-align: center;
    }
    }

.input_number_stock{
    .p-inputnumber .p-component .p-inputwrapper{
        width:350px;
    } 
}
