.p-datatable-thead div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.p-datatable .p-column-header-content {
    justify-content: space-between;
}

.last-row {
    background-color: #1bb99a !important;
    color: white !important;
}

.text-higlight {
    color: #1d8cec;
}

.clickable-row {
    cursor: pointer;
}