.p-datatable-thead div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.p-datatable .p-column-header-content {
    justify-content: space-between;
}

.last-row {
    background-color: #1bb99a !important;
    color: white !important;
}


.sticky-row {
    
    /* Adjust this value to control stickiness */
    background-color: white; /* Add any desired background color */
    /* Make sure it's above other rows */
  }
.text-higlight {
    color: #1d8cec;
}

.clickable-row {
    cursor: pointer;
}

.custom-table {
    .p-datatable .p-datatable-thead>tr>th {
        font-size: 16px;
        font-weight: 700;
    }

<<<<<<< HEAD
    .p-datatable .p-datatable-tbody > tr > td{
        font-size: 14px;
=======
    .p-datatable .p-datatable-tbody>tr>td {
        font-size: 15px;
>>>>>>> 6a0f1d1a79093d654356055a94c9f437f0bc79dd
        font-weight: 500;
    }
}