.p-datatable-thead div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-row {
    background-color: #1bb99a !important;
    color: white !important;
}

.text-higlight {
    color: #1d8cec !important;
}

.clickable-row {
    cursor: pointer;
}