.page-header1 {
    font-size: $pageHeaderFontSize1 ;
    font-weight: $pageHeadersFontWeight;
}

.page-header2 {
    font-size: $pageHeaderFontSize2;
    font-weight: $pageHeadersFontWeight;
}

.auth-header {
    font-size: $commonFontSize;
    font-weight: $commonFontWeight;
}

.household-number {
    text-decoration: underline;
    font-weight: bold;
    font-size: $commonFontSize;
}

.p-dropdown-label.p-inputtext {
    line-height: 15px;
}

.info-window .gm-style .gm-style-iw-t {
    bottom: 37px !important;
}