.page-header1 {
    font-size: $pageHeaderFontSize1 ;
    font-weight: $pageHeadersFontWeight;
}

.page-header2 {
    font-size: $pageHeaderFontSize2;
    font-weight: $pageHeadersFontWeight;
}

.auth-header {
    font-size: $authHeaderFontSize;
    font-weight: $authHeaderFontWeight;
}

.household-number {
    text-decoration: underline;
    font-weight: bold;
    font-size: $commonFontSize;
}

.p-dropdown-label.p-inputtext {
    line-height: 15px;
}

.info-window .gm-style .gm-style-iw-t {
    bottom: 37px !important;
}
.selectedMarker .gm-style .gm-style-iw-t {
    bottom: 80px !important;
}

.modal-page-header2{
    font-size: $pageHeaderFontSize2;
}

.custom-card {
    background-color: #ffffff; /* Set your desired background color */
    border-radius: 8px; /* Set your desired border radius */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Set your desired box shadow */
    padding: 20px; /* Set your desired padding */
  }

  .sub-header {
    font-size: $subHeaderFontSize;
  }

  .eli_button .p-button-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .common_bg {
    background-color: #2b3d51;
  }
  .map_hover_bg:hover {
    background-color: #2b3d51;
  }

  .legend_view_box {
    width: 210px;
    height: 160px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.legend_main_view {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
}

.legend_first_view {
    height: 30px;
}

.legend_second_view {
    font-size: 15px;
    padding-left: 10px;
    color: black;
}

.callout_header {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}