.input-switch-dashboard {
    .p-inputswitch {
        height: 20px;
        width: 40px;
    }

    .p-inputswitch .p-inputswitch-slider:before {
        width: 15px;
        height: 14px;
        padding-top: 2px;
        padding-bottom: 2px;
        right: 1.35rem;
        left: 0.2rem;
    }
}

.custom-table-cell {
    .p-datatable-frozen-tbody tr {
        background-color: #1bb99a;
        color: white;
    }
}