.dropdown_width {
    .p-dropdown-label {
        width: 188px;
    }

    .p-dropdown-trigger {
        width: 30px;
    }
}

.text-alignment{
    .p-inputtext {
   padding-top: 12px; 
    }
}

@media(min-width:576px) {
    .history-calendar {
        width: 100% !important;
    }

    .history-parent-calendar {
        width: 305px !important;
    }
}
.input-align{
    .p-inputtext{
        padding-top: 12px;
    }
}

// @media (max-width:360px) {
//     .custom-margin {
//         margin-bottom: 18px;
//     }
// }