.dropdown_width {
    .p-dropdown-label {
        width: 188px;
    }

    .p-dropdown-trigger {
        width: 30px;
    }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.text-alignment {
    .p-inputtext {
        padding-top: 12px;
    }
}

.input-align {
    .p-inputtext {
        padding-top: 12px;
    }
}