.custom-list {
    list-style: none;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
  }
  
  .custom-list li {
    display: flex;
  }
  
  .custom-list .label,
  .custom-list .value {
    border: 1px solid #DEE2E6;
    padding: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .custom-list .label {
    width: 30%;
    color: #343a40;
    font-weight: bold;
    border-right: none; /* Remove right border for label */
    display: flex;
    align-items: center;
    background-color: #F8F9FA;
  }
  
  .custom-list .value {
    width: 70%;
    display: flex;
    align-items: center;
    word-break: break-all;
    overflow: auto;
  }

  .custom-list li:not(:first-child) .label,
  .custom-list li:not(:first-child) .value {
    border-top: none; /* Remove top border for labels except the first one */
  }

  .p-inputnumber-input {
    width: inherit;
  }

  .text-link-class{
    color: #64b0f2;
  }

  
  

  