.stockpileMaster_label {
    width: 150px;
}

.custom-table .p-datatable .p-datatable-tbody>tr.highlight-row>td {
    background: #c1d5e6;
}

.custom-table .p-datatable .p-datatable-tbody>tr.highlight-row-event>td {
    background: #E6E6E6;
}