.hide-col{
    @media (min-width: 575.98px) {
        display: none;
    }
}
.summary_flex_search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}
.summary_flex {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}
.text-link a {
    color: #64b0f2;
}
