.hide-col{
    @media (min-width: 575.98px) {
        display: none;
    }
}
.summary_flex_search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}
.stockpile .custom-switch .p-inputswitch .p-inputswitch-slider:before{
    top:4px
}
.stockpile .custom-switch .p-inputswitch-slider{
    width: 40px;
    height: 25px;
}
.stockpile .custom-switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #d31720;
}
.stockpile .hq_staff.custom-switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #0E3EB2;
}
.stockpile .custom-switch .p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider{
    background: transparent;
    border: 1px solid #B4B6B4;
}
.text-link a {
    color: #000000;
}
.stockpile-summary tbody tr:first-child{
    border-top: none;
}

.stockpile-summary.p-datatable .p-datatable-tbody>tr>td .p-row-toggler{
    color: #000000;
}
.stockpile-summary thead{
    border-top: none;
}

.stockpile-summary.p-datatable .p-datatable-tbody > tr > td{
    background: transparent;
    border: none;
}

.stockpile-summary.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr > td{
    border: none;
}

.stockpile-summary .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr > td{
    background: #ffffff;
}

.stockpile-summary .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead > tr > th{
    background: transparent;
    border: none
}
.stockpile-summary .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr > td{
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
}
.stockpile-summary.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr:first-child{
    display: flex;
    background: transparent;
}
.stockpile-summary.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr.main-row-header{
    display: flex;
    background: transparent;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead > tr{
    display: table-row;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr{
    display: table-row;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr:first-child > td:first-child {
    border-top-left-radius: 10px;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr:first-child > td:last-child {
    border-top-right-radius: 10px;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}
.stockpile-summary .p-datatable-row-expansion .rowExpansionTable .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}
.stockpile-summary .p-datatable-row-expansion > td:first-child{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
.stockpile-summary.p-datatable .p-datatable-tbody>tr:hover {
    background: transparent;
    color: #495057;
    border-bottom: 0.5px solid transparent;
}

.stockpile-summary.p-datatable .p-datatable-tbody>tr {
    background: transparent;
    color: #495057;
    border-bottom: 0.5px solid transparent;
}

.custom-button .p-button-icon{
    font-weight: 700;
}


