.userListActive{
    border-color:  #22A96F;
    background-color: #22A96F;
    width: 10px;
    height: 10px;
    margin: 2px;
}

.userListNotActive{
    border-color: #9e9e9e;
    background-color:#9e9e9e;
    width: 10px;
    height: 10px;
    margin: 2px;
}
