@media screen and (min-width: 576px) {
    .userDashboard {
        height:$userDashBoardHeight;
        width:$userDashBoardWidth;
        font-size:$userDashBoardFontSize;
    }
}

@media screen and (max-width: 576px) {
    .userDashboard {
        height:$userDashboardHeightSm;
        width:$fullWidth;
        font-size:$userDashBoardFontSize;
    }

    .userParentDashboard {
        width:$fullWidth;
    }
}