/* Queries variables*/
/* Mobile */
$mobile: 576px;
/* Tablet */
$tablet: 768px;
/* Desktop */
$desktop: 1200px;

/* Heights */
$commonHeight: 40px;

/* Transition duration */
$transitionDuration: .2s;

/* Fonts sizes */
$commonFontSize: 16px;
$dialogHeaderFontSize: 21px;
$tableHeaderFontSize: 16px;
$tableDataFontSize: 14px;
$labelFontSize: 12px;
$pageHeaderFontSize1: 21px;
$pageHeaderFontSize2: 20px;
$footerFontSize: 16px;
$topHeaderFontSize:21px;

/* Fonts weights */
$commonFontWeight: 500;
$dialogHeaderFontWeight: 500;
$tableHeaderFontWeight: 700;

/* Radius */
$commonRadius: 5px;

/* Border */
$commonBorder: 1px solid var(--primary-color);

/* Padding */
$commonPadding: 0.5rem;