/* Queries variables*/
/* Mobile */
$mobile: 576px;
/* Tablet */
$tablet: 768px;
/* Desktop */
$desktop: 1200px;

/* Heights */
$commonHeight: 40px;
$userDashBoardHeight:350px;
$userDashboardHeightSm:280px;

/* width */
$sNoWidth: 50px;
$actionEditDeleteWidth: 200px;
$userDashBoardWidth:500px;
$fullWidth:100%;

/* Transition duration */
$transitionDuration: .2s;

/* Fonts sizes */
$commonFontSize: 16px;
$dialogHeaderFontSize: 21px;
$tableHeaderFontSize: 16px;
$tableDataFontSize: 14px;
$tableFrozenFontSize:14px;
$labelFontSize: 12px;
$pageHeaderFontSize1: 21px;
$pageHeaderFontSize2: 20px;
$footerFontSize: 16px;
$topHeaderFontSize:21px;
$fileUploadFontSize:12px;
$userDashBoardFontSize:25px;
$authHeaderFontSize: 18px;
$subHeaderFontSize:18px;

/* Fonts weights */
$commonFontWeight: 500;
$dialogHeaderFontWeight: 500;
$tableHeaderFontWeight: 700;
$tableFrozenFontWeight:700;
$buttonFontWeight:700;
$pageHeadersFontWeight:700;
$authHeaderFontWeight: 700;

/* Radius */
$commonRadius: 5px;

/* Border */
$commonBorder: 1px solid var(--primary-color);

/* Padding */
$commonPadding: 0.5rem;