/* General */
/* border radius */
$borderRadius-12px: 12px;
$borderRadius-12px: 12px;
$borderRadius-15px: 15px;
$borderRadius-28px: 28px;
/* border radius / REM */
$borderRadius-025rem: 0.25rem;
/* border width / PX */
$borderWidth-5px: 5px;
/* transition duration */
$transitionDuration: .2s;
/* colors */
$auth: rgb(100, 176, 242);
/* font-size / PX */
$fontSize-15px: 15px;
/* width / REM */
$width-15rem: 15rem;
$width-20rem: 20rem;
$width-30rem: 30rem;
/* Queries variables*/
/* Mobile large devices */
$mobile: 576px;
/* Tablet */
$tablet: 768px;
/* Desktop */
$desktop: 1200px;