.dialogDemo .webcam {
    width: -webkit-fill-available;
    width: -moz-available;
}

.dialogDemo .p-dialog {
    height: auto !important;
}

.dialogDemo .p-dialog-content {
    overflow: hidden;
    flex-grow: inherit;
    padding: 0rem !important;
}